
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";


}

<div class="body">
    <div class="rene">
        <div class="backimg">
            <img src="~/content/golconde.jpg" />
        </div>
        <div class="renecard">
            <h3>Rene Magritte: "Golconda"</h3>
            <p>
                Explore surrealism with Rene Magritte's best work. <br />
                The Belgian painter used his very common image of nearly identical men in long coal colored trench coats and derby hats. <br />Sign up to get inspired.
            </p>
            <input type="button" onclick="location.href='/Users/Create';" value="Sign up" />
        </div>
    </div>
    <div class="section2">
        <h2>Explore traditional as well as modern artists and add them to your list</h2>
        <input type="button" onclick="location.href='/Users/Create';" value="Sign up for more" />
        <h3 href=#top>Go to the top of the page.</h3>
    </div>


</div>

