
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
      
        <div class="header" id="top">

            <div class="logo">
                <img src="~/content/logo.png" />
            </div>
            <ul class="inlinewords">
                <li>
                    <a href="~/Home/Index">Home</a>
                </li>
               
                <li>
                    <a href="~/Users/Create">Sign up</a>
                </li>
                <li>
                    <a href="~/Home/Login">Log in</a>
                </li>
            </ul>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <h4>All rights reserved.</h4>
        <img src="~/content/fb.webp" />
        <img src="~/content/ig.webp" />
    </footer>

</body>
</html>
